/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('dark-gradient-background-with-copy-space_53876-99548.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

header, main, footer {
    padding: 20px;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
}
header{
    background-color: rgba(0, 0, 0, 0.35);   
}

header h1, footer p {
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

#progress-container {
    width: 100%;
    max-width: 800px;
}

.progress-box {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.progress-box h2 {
    margin: 0;
    padding: 0;
}

.progress-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: larger;
}

.progress-table th, .progress-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.progress-table th {
    background-color: #f2f2f2;
    color: black;
}
